
.selected{  
  background-color:rgb(169, 233, 21);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: 
  repeat(auto-fit,minmax(300px, 1fr));
  margin-top: 30px;

}

.card{
  border-radius: 9px;
  background-color: rgb(111, 111, 131);
  position: relative;
  margin-top: 30px;
}

.card:hover {
  color: aliceblue;
  background-color: #574c96;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: 
  repeat(auto-fit,minmax(300px, 1fr));
  margin-top: 30px;
  margin-bottom: 30px;

}

.bot-image{
  background-color: rgb(179, 170, 170);
}

.bot-image:hover {
  background-color: rgb(29, 29, 29);
}

footer{
  display: flex;
}

#icon{
  margin-right: 20px;
  font-size: larger;
  margin-bottom: 10px;
}
.Title{
  text-align: right;
  height:500px 
}
.sort{
  padding: 40px;
  background-color: rgb(66, 54, 39);
margin-top: 10px;
}